.container{
    background-color: #333;
    color: white;
    padding: 5px;
}



nav ul{
    text-decoration: none;
    list-style: none;
    margin-left: 750px;
    margin-top: 5px;

}

nav ul li {
    display: inline-block;
    margin-right: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

.cv{
    background-color: green;
    color: white;
    width: 100px;
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
    text-transform: uppercase;
}

.cv:hover{
    text-decoration: none;
    background-color: rgb(33, 104, 33);
}




.link{
    color: rgb(61, 61, 189);
    text-decoration: none;
    text-transform: uppercase;
}

.link:hover{
    color: red;
    text-decoration: none;
}

.gian{
    border-radius: 50%;
}

